body {
  font-family: Montserrat, sans-serif;
  background-color: #eee;
  line-height: 1.4;
}

.hidden {
  display: none;
}

@keyframes slide {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.banner {
  min-height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, .05);
  position: relative;
}

.banner__top {
  display: flex;
  align-items: center;
}

.banner__image {
  display: block;
  min-width: 32px;
}

.banner__button {
  background-color: #e5e5e5;
  color: #777;
  border: 0;
  padding: 0.6rem 1rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
  margin: 0 0.5rem;
}

.banner__button:hover {
  background-color: #ddd;
}

.banner__button::before {
  content: '\2630';
  margin-right: 0.25rem;
  display: inline-block;
  min-width: 1em;
}
.banner--open .banner__button::before {
  content: '\00D7';
}

.banner__title {
  font-weight: bold;
  font-size: 0.8em;
}

.menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 250px;
  border: 1px solid #ddd;
  background-color: white;
  padding: 1rem 0;
  display: none;
  animation: slide .3s 0s 1 ease;
  border-bottom-right-radius: 10px;
}
.banner--open .menu {
  display: block;
}

.menu__item {
  display: block;
  padding: 1rem 2rem;
  margin: 4px 0;
  border-right: 3px solid #ddd;
}

.menu__item:hover {
  border-color: #F38833;
}

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
}

.profil {
  width: 90%;
  max-width: 800px;
  margin: 1rem auto;
  animation: slide .4s .1s 1 ease backwards;
}

.panel {
  border-radius: 10px;
  padding: 2rem;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .05);
  font-size: .9em;
  margin: 1rem auto;
}

.panel--center {
  text-align: center;
}

.panel--work img {
  width: 100%;
  margin-bottom: 1rem;
}

.panel__title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1rem;
}

.panel__title--big {
  font-size: 1.6em;
  background-color: #F38833;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  margin-bottom: -1rem;
}

.panel__avatar {
  border-radius: 50%;
  width: 100px;
  border: 4px solid white;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .15);
}

.tags {
  margin-bottom: 1rem;
}

.tags__item {
  display: inline-block;
  padding: 1rem;
  border-radius: 4px;
  margin: .1rem;
  background-color: #e5e5e5;
}

#availability {
  margin-top: 1rem;
}

#availability::before {
  content:"";
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background-color: greenyellow;
  margin-right: .4em;
}

#availability.off::before {
  background-color: tomato;
}

.sidebar {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
  animation: slide .4s 0s 1 ease;
}

.contact {
  margin-top: auto;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
  margin: 1rem 0;
}

.contact__title {
  margin: 1rem;
  border-radius: 1rem 1rem 1rem 0;
  background-color: #F38833;
  color: white;
  font-size: .8em;
  font-weight: bold;
  padding: 1rem;
}

.contact__form {
  display: flex;
  border-top: 1px solid #ddd;
}

.contact__input {
  border: 0;
  padding: 1rem;
  width: 100%;
}

.contact__button {
  background-color: #e5e5e5;
  border: 0;
  padding: 0 1rem;
}

.tasks__item {
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: -1px;
}

.tasks__info {
  color: #999;
  margin-left: .5rem;
}

.trends {
  margin: 2rem 0;
  border-top: 1px solid #ccc;
}

.trends__title {
  font-weight: bold;
  margin: 2rem 0 1rem;
}

.people {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 3px solid #ddd;
  padding: 1rem 0;
}

.people__popularity {
  font-style: italic;
  color: #777;
}

.people__bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  background-color: #F38833;
  height: 3px;
  transition: width 1s 0s ease-in-out;
}

.red {
  color: tomato;
  font-weight: bold;
}

.yellow {
  color: sandybrown;
  font-weight: bold;
}

@media (min-width: 1050px) {
  .content {
    flex-direction: row;
  }

  .sidebar {
    width: 20%;
    max-width: 250px;
    padding: 1rem;
    margin: 0;
    animation-delay: .3s;
    animation-fill-mode: backwards;
  }
}